[submodule "vender/spdlog"]
	path = vender/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/libigl"]
	path = vendor/libigl
	url = https://github.com/libigl/libigl.git
[submodule "vendor/HTTPRequest"]
	path = vendor/HTTPRequest
	url = https://github.com/elnormous/HTTPRequest.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendor/httplib"]
	path = vendor/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "vendor/libGuarded"]
	path = vendor/libGuarded
	url = https://github.com/copperspice/cs_libguarded.git
[submodule "vendor/nlohmann"]
	path = vendor/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "vendor/earcut-hpp"]
	path = vendor/earcut-hpp
	url = https://github.com/mapbox/earcut.hpp
[submodule "vendor/date"]
	path = vendor/date
	url = https://github.com/HowardHinnant/date
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
